body {
	color: white !important;
	font-size: 12px !important;
	background-color: #6c9bd2 !important;
	font-family: Roboto, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
}

.wrap {
	width: 100%;
	height: 100%;
}

.navigation {
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 100;
	top: 0;
	background-color: #6C9BD2;
	-webkit-transition: padding 0.2s ease;
	-moz-transition: padding 0.2s ease;
	-o-transition: padding 0.2s ease;
	transition: padding 0.2s ease;
}


.navigation .wrapper {
	width: 60vw;
	margin: 5vh auto;
	
}

.navigation .wrapper a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

.navigation .wrapper .navbar {
	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.navigation .wrapper .navbar-left a:hover {
	transform: rotate(45deg);
}

.navigation .wrapper .navbar li {
	list-style: none;
	display: inline-block;
}

.navigation .wrapper .navbar .btn {
	padding: 6px 0;
	min-width: 70px;
	text-align: center;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.navigation .wrapper .navbar .btn.btn-empty {
	box-shadow: white 0 0 0 1px inset;
}

.navigation .wrapper .navbar .btn.btn-empty:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.navigation .wrapper .navbar .btn.btn-full {
	background-color: white;
	color: #6c9bd2;
}

.navigation .wrapper .navbar .btn.btn-full:hover {
	opacity: 0.8;
}

.navigation .wrapper .navbar-right {
	float: right;
}

.navigation .wrapper .navbar-right li {
	padding-left: 10px;
}

.navigation .wrapper .navbar-right a {
	display: block;
}

.navigation .wrapper .navbar-left {
	float: left;
}

.navigation .wrapper .navbar-left li {
	height: 10vh;
	margin: 10px 10px 10px 10px;
}

.container {
	width: 100%;
	height: 100%;
	right: 0;
	overflow: hidden;
}

.container .section {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.container .section.welcome {
	padding-top: 20vh;
}

.container h1 {
	text-align: center;
	font-size: 52px;
	font-weight: 300;
}

.container p {
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	padding-top: 15px;
}


.chat {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	height: 100%;
	background: #00000047;
	border-radius: .6rem;
}

.chat>div {
	color: black;
	flex: 0 0 auto;
	margin-top: 2.5rem;
}


.messagecontainer {
	position: relative;
	display: inline-block;
	padding: .5rem 1rem;
	margin-left: .75rem;
	border-radius: .6rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background: #F7F7F7;
}


.chat .message,
.chat .meta {
	vertical-align: top;
}

.chat .meta {
	position: absolute;
	bottom: 100%;
	left: 0px;
	font-size: .8em;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #f7f7f7;
	padding: 0.25rem .75rem;
	margin: 0 0 -.4rem 0rem;
	z-index: 1;
}

.chat .metaBG {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-left: 5px solid var(--user-color);
	background-color: #101010;
}

.chat .message {
	flex: 1 1 auto;
	word-wrap: break-word;
}



.user {
	margin-left: 0.2em;
	position: relative;
	z-index: 1;
}


/* ALERTS */

.chat .alert-red,.alert-yellow,.alert-green,.alert-blue {  height: auto; padding: 1.5%;  line-height: 1.34; overflow: hidden; text-align: center; position: relative;  }
.chat .alert-red    { color: #a00101; background: #eccccc }
.chat .alert-yellow { color: #8a6d3b; background: #faebcc }
.chat .alert-green  { color: #3c763d; background: #d2e2cc }
.chat .alert-blue   { color: #60709c; background: #cee1ea }
.chat .alert-icon   { position: absolute; top: 50%; left: 8px; font-size: 30px; height: 30px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); width: 30px; color:inherit; }

@media screen and (max-width: 600px) {
	.navigation {
		display: none;
		height: 0px !important;
		padding: 0px 0px 0px 0px !important;
		margin: 0px !important;
	}
	
	.container .section.welcome {
		padding-top:15vh;
	}
}
input {line-height: normal;} /* Has a media query @max 420px */
textarea {overflow: auto;} 
form {padding: 37.5px;margin: 50px 0;}
input[type='text'], [type='email'], select, textarea {background: none;border: none;border-bottom: solid 2px #ffffff;color: #000;font-size: 1.000em;font-weight: 400;letter-spacing: 1px;margin: 0em 0 1.875em 0;padding: 0 0 0.875em 0;text-transform: uppercase;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
input[type='text']: focus, [type='email']: focus, textarea: focus {outline: none;padding: 0 0 0.875em 0;}
select {background: url('https: //cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;outline: none;-moz-appearance: none;-webkit-appearance: none;}
select: : -ms-expand {display: none;}
textarea {line-height: 150%;height: 150px;resize: none;width: 100%;}
::-webkit-input-placeholder {color: #fff;}
:-moz-placeholder {color: #fff;opacity: 1;}
::-moz-placeholder {color: #fff;opacity: 1;}
:-ms-input-placeholder {color: #fff;}